// Theme Colors
$color-base: #2a2f33;
$color-highlight: #949494;

$color-shade-darkest: #1d2027;
$color-shade-dark: #282828;
$color-shade-mid: #454c5c;
$color-shade-light: #6b6f79;
$color-shade-lightest: #504945;

// Font Colors
$base-font-color: #f5f5f5;

$base-link-color: #90939b;
$base-link-color-active: #90939b;
