@mixin coachmark($background) {
  background: $background;

  #coachmark_callout,
  #coachmark_interior {
    background: $background;
  }
}

@mixin placeholder {
  #{if(&,"&","*")}::-webkit-input-placeholder {
    color: $base-font-color !important;
    -webkit-filter: none;
    filter: none;
    opacity: 0.5;
  }

  #{if(&,"&","*")}::-moz-placeholder {
    color: $base-font-color !important;
    filter: none;
    opacity: 0.5;
  }

  #{if(&,"&","*")}::placeholder {
    color: $base-font-color !important;
    filter: none;
    opacity: 0.5;
  }

  #{if(&,"&","*")}[data-placeholder]:empty::before {
    color: $base-font-color !important;
  }
}
